# This file is meant to contain project-wide rules. Rules specific to your
# personal setup (extra files created by your IDE, etc.) should be mentioned in
# .git/info/exclude.

# files and directories created by JTrans
res
cache
sr.cfg
wavout.wav
out*.wav
*.dot

# build products
jtrans.jar
build
build-test
test-reports
dist

# non-binary libraries
lib/*-sources.jar
lib/*-javadoc.jar

